@import "./grid";
@import "./button";
@import "./modale";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex; /* Utilise flexbox pour centrer les éléments */
  flex-direction: column;
  align-items: center; /* Centre verticalement */
  font-family: "Courier New", Courier, monospace;
}

h1 {
  padding-bottom: 30px;
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fa-twitter {
  color: blue;
}
